<% @title="Tasks" %>

  <% if notice %>
    <p id="notice" class='alert alert-success'><%= notice %></p>
  <% end %>

  <div class="row pt-4">
    <div class="col-md-8 mx-auto">
      <h1 class='mb-3 mt-3 pb-5'>Listing Tasks</h1>
      <table id="task-table" class="table table-condensed">
        <thead>
          <tr>
            <th>
              <h5>Title</h5>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <%= render('item_table', task: task) %>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Task', new_task_path , remote: true, :id => "newtask-btn", class: "btn btn-outline-success" %>
    </div>

  </div>
  <br>
<%#= render 'form' %>
